@import url('https://fonts.googleapis.com/css?family=Open+Sans|Press+Start+2P&display=swap');

* html, body {
  box-sizing: border-box;
  background-color: #333;
  color: #fff;

  padding: 0;
  margin: 0;

  font-family: 'Open Sans', sans-serif;
  }

html {
  scroll-behavior: smooth;
  }
  
/* Navigation */  
#nav-bar {
  position: fixed;
  top: 0;
  width: 100vw;
  height: auto;
  z-index: 1;

  color: #fff;
  background-color: rgba(0, 0, 0, .5);
  }

#nav-bar a:visited {
  color:#fff;
  }
  
#nav-bar a:hover {
  color: #1B3996;
  border-bottom: 2px solid #1B3996;
  transition: 0.2s
  }  

.nav-side {
  margin-right: 100px;
  }

ul {
  display: flex;
  float: right;
  
  list-style: none;
  overflow: hidden;
  text-align: center;
    
  margin: 0;
  padding: 0;
  
  font-size: 30px;
  }

li {
  list-style: none;
  display: inline;
    
  margin: 30px 0;
  margin-right: 40px;
  }

a {
  text-decoration: none;
  color: #fff;
  }

h2, h3 {
  color: #2146B7;
  }

.hamburger {
  display: none;
  cursor: pointer;

  float: right;
  margin: 1.5em 3em;
  padding: 5px;
  border: 2px solid #2146B7;
  border-radius: 5px;
  }

.hamburger div {
  height: 3px;
  width: 25px;
  margin: 5px;

  background: #2146B7;
  }  

/* Hero Section */
/* I want to try and make the circuits glow/animate - WORK IN PROGRESS! */
.hero {
  background-image: url(../assets/circuit.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  width: 100%;
  height: 100vh;

  font-family: 'Press Start 2P';
  }

.hero h1 {
  color: #fff;
  font-size: 80px;

  padding-top: 230px;
  margin: 0px;

  display: flex;
  justify-content: center;
  }  

.hero p {
  color: #fff;
  font-size: 40px;
  margin: 0px;

  display: flex;
  justify-content: center;
  align-items: center;
  }

.avatar-img {
  height: 180px;
  }  

.main-container {
  max-width: 150ch;
  margin: 0 auto;
  }

/* About Section */  
#about {
  padding: 1.5em;
  margin: 1em;

  display: grid;
  grid-template-columns: 1fr 2em 1fr;

  border-bottom: 3px solid #686868;
  }

article img {
  width: 300px;
  height: 300px;
  }

.social-media a {
  font-size:40px;
  color:#fff;
  
  margin-right: 15px;
  }

.social-media :hover {
  color: #1B3996;
  transition: 0.2s;
  }

/* Skills Section */  
.skills-container {
  grid-column: 3 / 4;
  }

.skills-container h2 {
  margin-top: 0;
  }  

.skills-sidebar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  }

.skills-sidebar p {
  padding: 10px 15px;
  margin: 5px;
  
  width: auto;
  height: auto;

  background-color: #1B3189;
  color: #fff;
  text-align: center;

  border: none;
  border-radius: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
  }

/* Form Section */
fieldset {
  margin-top: 4em;
  padding: 0;

  width: 42vw;
  color: #2146B7;
  background-color: #eee;

  border: none;
  border-radius: 10px;
  }

fieldset h2 {
  margin-top: 0;
  padding: 10px;

  background-color: #2146B7;
  color: #fff;

  display: flex;
  justify-content: center;

  border: none;
  border-radius: 10px 10px 0 0;
  }

label, input, button {
  margin: .5em 1em;
  font-size: 20px;
  }

label {
  font-weight: bold;
  }

input {
  background-color: #eee;
  border: 0;
  border-bottom: 1px solid #000;
  }

button {
  padding: 5px 10px;

  background-color: #2146B7;
  color: #fff;

  border: none;
  border-radius: 10px;

  cursor: pointer;
  }  

/* Projects Section */
section h2 {
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 70px;

  display: flex;
  justify-content: center;
  }

#projects {
  padding: 1.5em;
  margin: 1em;
  
  border-bottom: 3px solid #686868;
}

.projects-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: space-evenly;
  }

.cards {
  margin: 1em;
  min-width: 300px;

  font-weight: bold;
  align-items: center;
  text-align: center;

  background-color: #eee;
  
  border-radius: 10px;
  transition: 0.5s;
  box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
  }

.cards h3 {
  margin-top: 0;
  padding: 10px;
  
  background-color: #2146B7;
  color: #fff;
  }  

.cards p {
  color: #2146B7;
  }  

.cards:hover {
  transform: scale(1.05);
  transition: 0.5s;
  box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
  }

/* Artworks Section - WORK IN PROGRESS! */  
#artworks {
  padding: 1.5em;
  }

.artworks-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
  }

.artworks-container img {
  width: 300px;
  height: 300px;

  justify-self: center;
}

/* Footer Section */  
footer {
  position: relative;
  height: auto;
  margin-top: 30px;

  display: flex;
  justify-content: center;
  text-align: center;
  
  color: #fff;
  background-color: rgba(0, 0, 0, .5);
  }

/* Media Queries - WORK IN PROGRESS! */  
@media (max-width: 600px) {
  .nav-menu {
    display: flex;
    flex-direction: column;

    margin-top: 3em;
    height: auto;
    width: 100%;

    position: fixed;

    background-color: rgba(0, 0, 0, .5);

    transform: translateY(-140%);
    transition: 0.2s;
    }
  
  .nav-menu li {
    margin: 0.5em;
    }

  .nav-side {
    margin-right: 0px;
    }

  .hamburger {
    display: block;
    position: relative;
    z-index: 1;
    }

  .nav-open {
    transform: translateX(0%);
    }
    
  .nav-close .line1 {
    transform: rotate(45deg) translate(6px, 5px);
    }

  .nav-close .line2 {
    background-color: rgba(0, 0, 0, 0);
    }

  .nav-close .line3 {
    transform: rotate(-45deg) translate(6px, -5px);
    }

  .hero h1, .hero p{
    display: block;
    text-align: center;

    padding: .5em;
    }

  .hero h1 {
    padding-top: 2em;
    }

  .skills-container h2 {
    margin-top: 1em;
    } 

  #contact h2 {
    margin-top: 0;
    }  

  fieldset {
    margin: 2em auto;
    }

  button {
    width: -webkit-fill-available;
    }

  .cards {
    margin-bottom: 30px;
    }

  .cards p {
    padding: 10px 0px;
    margin: 0px;
    }

  .cards p:last-of-type {
    padding-bottom: 20px;
    }

  /* Temporary */ 
  #projects {
    padding: 0px;
    }

  #about,.projects-container,.artworks-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    }  
  
  .artworks-container img {
    margin-bottom: 15px;
    }
 
  footer {
    margin-top: 0px;
    }
}