@import url('https://fonts.googleapis.com/css?family=Open+Sans|Press+Start+2P&display=swap');

* html, body {
  box-sizing: border-box;
  background-color: #333;
  color: #fff;

  padding: 0;
  margin: 0;

  font-family: 'Open Sans', sans-serif;
  }

/* Navigation */  
#nav-bar {
  position: fixed;
  top: 0;
  width: 100vw;
  height: auto;

  color: #fff;
  background-color: rgba(0, 0, 0, .5);
  }

#nav-bar a:visited {
  color:#fff;
  }
  
#nav-bar a:hover {
  color: #1B3996;
  border-bottom: 2px solid #1B3996;
  }  

.nav-side {
  margin-right: 100px;
  }

ul {
  display: flex;
  float: right;
  
  list-style: none;
  overflow: hidden;
  text-align: center;
    
  margin: 0;
  padding: 0;
  
  font-size: 30px;
  }

li {
  list-style: none;
  display: inline;
    
  margin: 30px 0;
  margin-right: 40px;
  }

a {
  text-decoration: none;
  color: #fff;
  }

h2, h3 {
  color: #2146B7;
  }

/* Hero Section */
/* I want to try and make the circuits glow/animate */
.hero {
  background-image: url(../assets/circuit.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  width: 100%;
  height: 100vh;

  font-family: 'Press Start 2P';
  }

.hero h1 {
  color: #fff;
  font-size: 80px;

  padding-top: 230px;
  margin: 0px;

  display: flex;
  justify-content: center;
  }  

.hero p {
  color: #fff;
  font-size: 40px;
  margin: 0px;

  display: flex;
  justify-content: center;
  align-items: center;
  }

.avatar-img {
  height: 180px;
  }  

.main-container {
  max-width: 150ch;
  margin: 0 auto;
  }

/* About Section */  
#about {
  padding: 1.5em;
  margin-top: 20px;

  display: grid;
  grid-template-columns: 1fr 1fr;
  }

article img {
  width: 300px;
  height: 300px;
  }

.social-media a {
  font-size:40px;
  color:#fff;
  
  margin-right: 15px;
  }

.social-media :hover {
  color: #1B3996;
  }

.skills-container {
  padding-left: 2em;
  }

.skills-container h2 {
  margin-top: 0;
  }  

.skills-sidebar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  }

.skills-sidebar p {
  padding: 10px 15px;
  margin: 5px;
  
  width: auto;
  height: auto;

  background-color: #1B3189;
  color: #fff;
  text-align: center;

  border: none;
  border-radius: 10px;
  }

article {
  border-bottom: 3px solid #686868;
  }

/* Form Section */
fieldset {
  margin-top: 5em;
  padding: 0;

  width: 40vw;
  color: #2146B7;
  background-color: #eee;

  border: none;
  border-radius: 10px;
  }

fieldset h2 {
  margin-top: 0;
  padding: 10px;

  background-color: #2146B7;
  color: #fff;

  display: flex;
  justify-content: center;

  border: none;
  border-radius: 10px 10px 0 0;
  }

label, input, button {
  margin: .5em 1em;
  font-size: 20px;
  }

label {
  font-weight: bold;
  }

input {
  background-color: #eee;
  border: 0;
  border-bottom: 1px solid #000;
  }

button {
  padding: 5px 10px;

  background-color: #2146B7;
  color: #fff;

  border: none;
  border-radius: 10px;

  cursor: pointer;
  }  

/* Projects Section */
section h2 {
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 70px;

  display: flex;
  justify-content: center;
  }

#projects {
  padding: 1.5em;
  margin: 1em;
  
  border-bottom: 3px solid #686868;
}

.projects-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  }

.cards {
  margin: 1em;

  font-weight: bold;
  align-items: center;
  text-align: center;

  background-color: #eee;
  
  border-radius: 10px;
  box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
  }

.cards h3 {
  margin-top: 0;
  padding: 10px;
  
  background-color: #2146B7;
  color: #fff;
  }  

.cards p {
  color: #2146B7;
  }  

/* Artworks Section */  
#artworks {
  padding: 1.5em;

  display: grid;
  }

footer {
  position: relative;
  height: auto;

  display: flex;
  justify-content: center;
  text-align: center;
  
  color: #fff;
  background-color: rgba(0, 0, 0, .5);
  }

/* Media Queries */  